ion-col {
    background-color: #3cbb15;
    border: solid 1px #000000;
    text-align: center;
  }

ion-grid {
    --ion-grid-width: 80%;

    --ion-grid-width-xs: 80%;
    --ion-grid-width-sm: 540px;
    --ion-grid-width-md: 720px;
    --ion-grid-width-lg: 960px;
    --ion-grid-width-xl: 1140px;
  }




